# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environment
.venv/
venv/
ENV/
env/

# pytest
.pytest_cache/
.coverage
htmlcov/
*.cover
.hypothesis/

# IDEs
.idea/
*.swp
*.swo
*~
.DS_Store


# Logs
*.log
/cdk
